@import "./base/font";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/underheader";
@import "./layout/nav";
@import "./layout/fonctionnement";
@import "./layout/restaurant";
@import "./layout/menu";
@import "./layout/footer";
@import "./components/btn";



// Eléments principaux de la page
body
{
    font-family: $font-principale;
    width: 100%;
    margin: auto;
}
