@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header";
@import "./layout/underheader";
@import "./layout/nav";
@import "./layout/fonctionnement";
@import "./layout/restaurant";
@import "./layout/footer";
@import "./components/btn";

// Définition des polices personnalisées 
@font-face
{
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
    src: url('font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Shrikhand';
    src: url('font/Shrikhand-Regular.ttf');
    src: url('font/Shrikhand-Regular.ttf') format('truetype');
    font-weight:lighter;
    font-style:normal;
}

// Eléments principaux de la page
body
{
    font-family: $font-principale;
    width: 100%;
    margin: auto;
}
