.bloc-title{
    font-weight: $weight-title;
    font-size: $size-title;
    padding:50px 0 10px 20px;
    margin:0;
}
.bloc-fonctionnement{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.onglet-fonct{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    background: $color-fond;
    border-radius: 20px;
    margin: 10px 20px 10px 25px;
    box-shadow: $shadow-soft;
    &__ball{
        position: relative;
        margin-left:-10px;
        height: 27px;
        width: 27px;
        background: $primaire;
        border-radius: 20px;
    }
    .fas{
        width:15px;
        height:15px;
        color: $color-shadow;
        margin-left: 20px;
    }
    &__numb{
        margin:4px 0 0 9px;
        font-weight: $weight-title;
        color: white;
    }
    &__text{
        @include link-texte;
        padding: 27px;
        margin: 0;
    }
    &:hover{
        background: lighten($primaire, 35%);
        transition: .5s linear;
        .fas{
            color: $primaire;
            transition: .5s linear;
        }
    }
}