// Header
.header-omf{
    position: absolute;
    background: white;
    width:100%;
    height:65px;
    box-shadow: $shadow;
    &__logo{
        display: block;
        margin: auto;
        margin-top: 18px;
        width: 50%
    }
}

.underheader-omf{
    &__picture{
    height: 410px;
    }
}

