// menus pages
.fond-gris-menu{
    position: relative;
    background-color: $color-fond;
    border-radius: 45px 45px 0px 0px;
    margin-top:-50px;
    padding-bottom:10px;
}

.page-restaurant{
    margin: $base-margin;
    &__title{
        font-family: $font-secondaire;
        font-size: 1.75rem;
        margin:0;
        padding-top: 20px;
    }
    .far.fa-heart{
        @include heart($bottom: none);
        top: 30px;
        &:hover{
            opacity: 0;
            transition: .01s ;
        } 
    }
    .fas.fa-heart{
        @include heart($bottom: none);
        top: 30px;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        &:hover{
            opacity:1;
            transition: .3s ease-in-out;
        } 
    }
}

.page-menu{
    display: flex;
    flex-direction: column;
    &__title{
        margin-bottom: 15px;
    }
    &__text{
        text-transform: uppercase;
        font-size: $size-soustitle;
        font-weight: $weight-soustitle;
        margin:20px 0px 8px 0px;
    }
    &__line{
        background-color: $tertiaire;
        margin:0;
        height: 3px;
        width: 40px;
    }
    &__bloc{
        margin-bottom: 15px;
        background: white;
        height: 70px;
        border-radius: 20px;
        box-shadow: $shadow-soft;
        position: relative;
        overflow: hidden;
        &:hover .page-menu__check{
            transform: translateX(0px);
            transition: .5s;
            }
        &:hover .page-menu__prix{
            transform: translateX(-60px);
            transition: .5s;
            }
        &:hover .fas.fa-check-circle{
            transform: rotate(360deg);
            transition: .5s linear ;
            }
    }
    &__plat{
        @include title
        }
    &__accompagnement{
        @include sous-title ($size: 0.85rem);
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis;        
        }
    &__prix{
        font-weight: bold;
        width:50px;
        background-color: white;
        position: absolute;
        right: 0px;
        top: 22px;
    }
    &__check{
        position:absolute;
        background-color: $tertiaire;
        top: 0;
        bottom:0;
        right:0;
        width: 65px;
        transform-origin: right 50%;
        border-radius: 0px 20px 20px 0px;
        transform: translateX(65px);
        overflow:hidden;
    }
    .fas.fa-check-circle{
        position:absolute;
        left: 20px;
        top: 25px;
        font-size: 1.5rem;
        color:white;
        opacity: 1;
    }
}

.page-menu__title > :nth-of-type(2){
    animation: SlideDown .4s ease-in-out;
}

.page-menu > :nth-of-type(3){
    animation: SlideDown .8s ease-in-out;
}

.page-menu > :nth-of-type(4){
    animation: SlideDown 1.2s ease-in-out;
}

.page-menu > :nth-of-type(5){
    animation: SlideDown 1.6s ease-in-out;
}

@keyframes SlideDown {
     from {
        transform: translateY(70px);
        opacity: 0;
     }
     to {
        transform: translateY(0px);
        opacity: 1;
     }
}
