// Under header 
.under-header{
    background: $color-fond ;
    height: 410px;
}
.location{
    background: $color-shadow-soft;
    &__link{
        height: 100px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15px;
        margin-left: 100px;
        @include link-texte;
    }
    &__text{
        margin:0;
        margin-left:20px;
    }
    .fas{
        margin-bottom: 2px;
    }
}
.bloc-accroche{
    &__title{
        width: 250px;
        text-align: center;
        margin: 40px auto 20px auto;
    }
    &__text{
        font-weight: $weight-soustitle;
        font-size: 1.1rem;
        text-align: center;
        margin:0 20px;
    }
}