/* COLORS */

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

$gradient: linear-gradient($secondaire, $primaire);

/* SHADOWS */
$shadow: 0 3px 5px grey;

/* FONTS */
$font-principale: 'Roboto';
$font-secondaire: 'Shrikand';

/* SIZES FONTS */
$size-title: bold;
$size-soustitle: normal;

