// COLORS 

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

$gradient: linear-gradient($secondaire, $primaire);

// SHADOWS 
$shadow: 0 3px 5px #9e9e9e;

// FONTS 
$font-principale: 'Roboto';
$font-secondaire: 'Shrikand';

// SIZES FONTS 
$size-title: bold 1.5rem;
$size-soustitle: normal;

