// COLORS 

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$color-fond: #ececec;
$color-shadow: #636363cc;
$color-shadow-soft: #d3d3d3;

$base-margin: 0px 20px;

$gradient: linear-gradient($secondaire, $primaire);

// SHADOWS 
$shadow: 0 2px 4px $color-shadow;
$shadow-soft: 2px 2px 7px $color-shadow-soft;

// FONTS 
$font-principale: 'Roboto';
$font-secondaire: 'Shrikhand';

// WEIGHTS & SIZES FONTS 
$weight-title: bold;
$weight-soustitle: normal;
$size-title: 1.5rem;
$size-soustitle: 1rem;
